* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* padding: 0; */
}

.btn-primary {
    background-color: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
    margin-top: 20px;
}

.primary-description{
    color: #727272;
}

/* Header related styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav ul>li {
    list-style: none;
    margin-right: 70px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner styles */

.banner {
    margin-top: 120px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}

.banner-img {
    margin-top: 40px;
    width: 100%;
}

/* Main related styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Features section styles */

.features-section {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.quick-list {
    color: #727272;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* Responsive styles with media query */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .features-section {
        flex-direction: column;
        /* justify-content: center; */
    }

    nav ul>li {
        margin-right: 20px;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav, .features-section  {
        flex-direction: column;
    }
}